*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 100vw;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

#bars-container{
    display: flex;
    flex: row;
}

.bar{
    width: 30px;
    border: 1px solid black;
    margin: 0 2px;
    transition: all 0.5s ease-in-out;
}

.bottom-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#buttons-container{
    margin: auto 20px;
}

.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }


