*{
    box-sizing: border-box;
}

.container{
    height: 90vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bars-container{
    display: flex;
    height: 40%;
}

.bar{
    border: 1px solid black;
    margin: 0 0.3vw;
    transition: all 0.5s ease-in-out;
    align-self: end;
}

.bottom-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 2vw 1vw;
    border: 2px solid black;
    width: 100%;
}

#sorting-method-label{
    position: fixed;
    top: 0;
    left: 0;
    padding: 2vw 1vw;
}

#buttons-container{
    margin: auto 20px;
}

.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }


